{
    margin:10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
header {
    background-color:grey;
    color:white;
    padding: 40px 20px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 40px;
    letter-spacing: 2px;
}
p {
    max-width:1000px;
    margin:auto;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
}

.container {
    padding: 40px;
    max-width:1000px;
    margin: auto;
}
.card-grid {
display: grid;
grid-template-columns:repeat(3, 1fr);    
gap: 20px;
}
.card {
    background:black;
    border-radius: 15px;
overflow:hidden;
    transition: transform 0.3s;
}
.card:hover {
        box-shadow: 0 20px 40px black;
}
.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
